{{>layout/header}}
<div class="container">
    {{#board}}
        <div>글번호 : {{id}}</div>
        <div>작성자 : {{name}}</div>
        <div>제목 : {{title}}</div>
        <div>내용 : {{content}}</div>

    <a class="btn btn-primary" href="/show">목록으로</a>
    <a class="btn btn-primary" href="/update/{{id}}">수정</a>
    <a class="btn btn-danger" href="/delete/{{id}}">삭제</a>
    {{/board}}
</div>
{{>layout/footer}}